body{
	background-color:#F2E9E1;
	color:#1C140D;
}

#wrapper{
	text-align:center;
	width:95%;
	margin:auto;
}

#Header{
	max-width:100%;
}

#nav{
	width:95%;
	margin:auto;
	background-color:#CBE86B;
	font-family: 'Ubuntu', sans-serif;
}

#nav a:link{
	margin:25 25 0 25;
	text-decoration:none;
}

#content{
	width:95%;
	margin:auto;
}

.CaptionedImage{
	margin:20px, 20px, 20px, 100px; 
	border-style:solid; 
	border-color:#000000; 
	border-width:5px; 
	display:inline-flex;
}

.CaptionedImage img{
}

.CaptionedImage p{
	text-align:left; 
	vertical-align:text-bottom;
	color:#666666; 
}

.cycle{
	width:700px;
	height:586px;
	background-color:#1C140D;
	padding:20px;
	margin: auto;
}

.cycle p{
	background-color:#F0F0F0;
	margin: auto;
	width:200px;
	overflow:auto;
	vertical-align:middle;
}

.cycle button{
	vertical-align:middle;
}

.cycle img{
	margin:auto;
	display:block;
}


#footer{
	width:95%;
	margin:auto;
	clear:left;
	background-color:#1C140D;
	color:#FFFFFF;
	font-family: 'Ubuntu', sans-serif;
}