body{
background-color:#A6959B;

}
#header{text-align:center;color:black;
}
}
#footer{text-align:center;

}
nav{text-align:center;}

#footer{text-align:center;}


#content {text-indent:0px;

}
#wrapper{width:850px; margin:0 auto 0 auto;

}.center-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sub{
  font-size: 22px;
  text-align: center;
}

.Ep{
  width: 375px;
}
#content{text-align:left;

}
