.darken {
	background-image: 
		linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url('../img/intro-bg.jpg');
}

.darken {
	background-image: 
		linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url('../img/downloads-bg.jpg');
}

h2 {
    text-align: center;
}