body{
	background-image:url("http://saskartists.ca/jmitchell2/images/backimage.jpg");
}

content {
	background-color: #FFFFFF;
	width: 80%;
	margin: 0 auto 0 auto;
	border-style: solid;
	border-color: #85DEAD;
	text-align: center;
	color: #ffffff;
}

h1{
	text-align: center;
	color: #FFF673;
}

a:link{
	color: yellow;
}

a:hover{
	color: pink;
}