

html,body {

	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin-top:5px;
	padding: 0;
	font-size: 14px;
	color: #000000;
	background-color: #3399FF; 

}

.header{
	width: 70%;
	margin: 0 auto 0 auto;
	font-size: 48px;
}
.content {
	background-color:#666666;
	width:70%;
	margin:0 auto 0 auto;
	border-style:solid;
	border-width:4px;
	border-color:#66FF00;
	left: 30em;
}

.links {
text-align: center;
margin-top: 10px;
font-size: 24px;
text-decoration: bold;
}

p,li {
	font:1.5em Arial,Helvetica,sans-serif;
}
	
a:link{
	text-align: center; 
	font-family:Arial,Helvetica,sans-serif;
	color:#66FF00;  
	text-decoration: none; 
	}
a:visited {
	color:#66FF00;
}
a:hover{
	background:#66FF00;
}
h1{  
	font-family: Georgia,Arial,Helvetica;
	font-size: 48px;
	}
.padding{
	padding: 30px 30px 30px 30px;
}