.nav{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: 06FFFF;
  margin: 10px;
}

.navbar {
  list-style-type: none;
  padding: 1px;
  margin:0;
  text-align: center;
}

.nav-link {
  list-style-type:none;
  display: block inline;
  padding: 1px;
}
