body {
	background-color: #360D17;
	color: #131930;
	font-size: 14px;
 }
 
 #wrapper {
	text-align: center;
	width: 800px;
	margin: 0 auto 0 auto;
 }
 
 #header {
	background-color: #FFB679;	
	font-family: 'Racing Sans One', cursive;
	font-size: 36pt;
	color: #131930;
 }
 
 #footer {
	background-color: #FFB679;
	padding: 5px;
	clear: both;
 }
 
 nav {
	background-color: #FFB679;
 }
 
 #content {
	background-color: #FFB679;
	padding: 20px;
	float: 0 auto;
 }
 #photo {	
	float: left;
}

#table {
 margin: 0 auto;
}
    