body
{
background-color:#ffffcc
}
div.ex
{
width:650px;
margin-left:auto;
margin-right:auto;
}
p.para
{
font-family:Arial,Helvetica,sans-serif;
text-indent:40px;
}
p
{
font-family:Arial,Helvetica,sans-serif;
}
h1
{
font-family:Arial,Helvetica,sans-serif;
}
table.tab
{
margin-left:auto;
margin-right:auto;
}
table.head
{
margin-left:auto;
margin-right:auto;
font-size:30px;
}
td.hover a:hover
{
background-color:#ffff99;
}
a:link 
{
text-decoration:none;
color:#000000;