body {
	background-color: #000000;
}

#wrapper{
	width: 885 px;
	background-color: #000000;
	color: #ffffff;
	
}

#header{
	margin-left: 40px;
	margin-top: 30px;
	font-size: 50px;
	background-color: #000000;
	color: #ffffff

}

#navbar{
	background-color: #000000;
	text-align: left;

}

#content {
	background-color: #000000;
	text-align: center;
	font-color: #ffffff;

{

#footer{

}