body {
	font-family: Union,Trebuchet MS,Arial;
	background-color: #D0CBE1;
}

.content {
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	background-color: #563E60;
	left: 30em;
}

.footer {
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	background-color: #563E60;
	left: 30em;
	font-size: 12px;
}

#wrapper {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

blue {
	color: #0A0928;
	
}

italic {
	font-style: italic;
	font-size: 14px;
}