body {
	
	margin: auto;
	width: 1280px;
	background-position: center;
	font-family: 'Freckle Face', cursive;
	background-color: black;
	color: white;
	
	
}

#wrapper{
	width: 720px;
	margin: 0 auto 0 auto;
	
}

#header {
	text-align: center;

}

#footer {
	text-align: center;
	color: white;
	clear: both;
	width: 700px;
	float: right;
	
	
}

nav {
	text-align: center;
	font-size: 22px;
	height: 100px;
	background: black ;
	width: 96px;
	margin-right: 4px;
	border-radius: 15px;
	box-shadow: 2px 2px 2px #888888;

	
}
a:hover{
	color: white;
	background: black;
	font-size: 120%;
	
}



#content {
	background-color: black;
	color: white;
	float: right;
	width: 800px;
	text-align: center;
	

	
}


	
.button {
	background: white;
	height: 50px;
	color: black;
	text-decoration: none;
	position: relative;
	top: 35px;
	}
	



	


