version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: /tmp/project/repo
    steps:
      - checkout
      - run: echo $CIRCLE_COMPARE_URL
      - run: sudo apt update
      - run: python ./build/scripts/gen_artists.py
      - run: mkdir /tmp/project/workspace
      - run: cp /tmp/project/repo /tmp/project/workspace/build-output -r
      - persist_to_workspace:
          root: workspace
          paths:
            - build-output
  html-test:
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: /tmp/project
    steps:
      - attach_workspace:
          at: /tmp/project/workspace
      - run: sudo pip install html5validator
      - run: html5validator --root /tmp/project/workspace/build-output --ignore "Use CSS instead." "Element \"map\" is missing required attribute \"name\"." "The hash-name reference in attribute \"usemap\" referred to \"backforth\", but there is no \"map\" element with a \"name\" attribute with that value." "Attribute \"v-model\" not allowed on element \"input\" at this point." "Attribute \"v-for\" not allowed on element \"div\" at this point." "Attribute \":href\" not allowed on element \"a\" at this point."
  sh-test:
    machine: true
    working_directory: /tmp/project
    steps:
      - attach_workspace:
          at: /tmp/project/workspace
      - run: cd ./workspace/build-output && sh ./build/checks/run-checks.sh
  python-test:
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: /tmp/project
    steps:
      - attach_workspace:
          at: /tmp/project/workspace
      - run: sudo apt install aspell
      - run:
          command: cd ./workspace/build-output && python ./build/checks/filenames.py
          when: always
      - run:
          command: cd ./workspace/build-output && python ./build/checks/existence.py
          when: always
      - run:
          command: cd ./workspace/build-output && python ./build/checks/similarity.py
          when: always
      - run:
          command: cd ./workspace/build-output && python ./build/checks/spelling.py
          when: always

  deploy:
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: /tmp/project
    steps:
      - attach_workspace:
          at: /tmp/project/workspace
      - restore_cache:
          key: last-deploy
      - run: scp -oStrictHostKeyChecking=no -r www/.htaccess saskarti@saskartists.ca:/home/saskarti/www/.htaccess
      - run: cd ./workspace/build-output && python ./build/scripts/deploy.py
      - save_cache:
          key: last-deploy
          paths:
            - /tmp/workspace/build-output/deploy-info

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
      - html-test:
          requires:
            - build
      - python-test:
          requires:
            - build
      - sh-test:
          requires:
            - build
      - deploy:
          requires:
            - html-test
            - python-test
            - sh-test
          filters:
            branches:
              only: master
