version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run: echo $CIRCLE_COMPARE_URL
      - run: sudo apt update
      - run: python ./build/scripts/gen_artists.py
      - run: cp ~/repo ~/build-output -r
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/build-output
  html-test:
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: ~/build-output
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: sudo pip install html5validator
      - run: html5validator --root . --ignore "Use CSS instead." "Element \"map\" is missing required attribute \"name\"." "The hash-name reference in attribute \"usemap\" referred to \"backforth\", but there is no \"map\" element with a \"name\" attribute with that value." "Attribute \"v-model\" not allowed on element \"input\" at this point." "Attribute \"v-for\" not allowed on element \"div\" at this point." "Attribute \":href\" not allowed on element \"a\" at this point."
  sh-test:
    machine: true
    working_directory: ~/build-output
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: sh ./build/checks/run-checks.sh
  python-test:
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: ~/build-output
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: sudo apt install aspell
      - run:
          command: python ./build/checks/filenames.py
          when: always
      - run:
          command: python ./build/checks/existence.py
          when: always
      - run:
          command: python ./build/checks/similarity.py
          when: always
      - run:
          command: python ./build/checks/spelling.py
          when: always

  deploy:
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: ~/build-output
    steps:
      -restore_cache:
        key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}

      -run: cd www/ && python ~/build/scripts/deploy.py

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - html-test:
          requires:
            - build
      - python-test:
          requires:
            - build
      - sh-test:
          requires:
            - build
      - deploy:
          requires:
            - html-test
            - python-test
            - sh-test
          filters:
            branches:
              only: master
