version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: /tmp/project/
    steps:
      - checkout:
          path: /tmp/project/repo
      - run: sudo pip install beautifulsoup4
      - run: cd /tmp/project/repo && python ./build/scripts/gen_artists.py
      - run: cd /tmp/project/repo && python ./build/scripts/googleanalytics.py
      - run: mkdir /tmp/project/workspace
      - run: cp /tmp/project/repo /tmp/project/workspace/build-output -r
      - persist_to_workspace:
          root: workspace
          paths:
            - build-output

  test:
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: /tmp/project
    steps:
      - attach_workspace:
          at: /tmp/project/workspace
      - run: sudo apt install aspell
      - run: sudo pip install html5validator requests
      - run:
          command: cd ./workspace/build-output && sh ./build/checks/run-checks.sh
          when: always
      - run:
          command: html5validator --root /tmp/project/workspace/build-output --ignore "Use CSS instead." "Element \"map\" is missing required attribute \"name\"." "The hash-name reference in attribute \"usemap\" referred to \"backforth\", but there is no \"map\" element with a \"name\" attribute with that value." "Attribute \"v-model\" not allowed on element \"input\" at this point." "Attribute \"v-for\" not allowed on element \"div\" at this point." "Attribute \":href\" not allowed on element \"a\" at this point."
          when: always
      - run:
          command: cd ./workspace/build-output && python ./build/checks/filenames.py
          when: always
      - run:
          command: cd ./workspace/build-output && python ./build/checks/existence.py
          when: always
      - run:
          command: cd ./workspace/build-output && python ./build/checks/similarity.py
          when: always
      - run:
          command: cd ./workspace/build-output && python ./build/checks/spelling.py
          when: always
      - run:
          command: cd ./workspace/build-output && python ./build/checks/images.py
          when: always
      - run:
          command: cd ./workspace/build-output && python ./build/checks/crosslinks.py
          when: always

  deploy:
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
    docker:
      - image: circleci/python:3.7-rc-node-browsers
    working_directory: /tmp/project
    steps:
      - attach_workspace:
          at: /tmp/project/workspace
      - run: sudo apt install rsync -y
      - run: cd ./workspace/build-output/www && python ../build/scripts/deploy.py

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          filters:
            branches:
              only: master
