body{
  background-color:#F0F0F0;
  margin-top:55px;
  text-align: center;
}

div#head{
  top:0px;
  width:100%;
  text-align: center;
  background-color:#CDCDCD;
  position:fixed;
}
div#head button{
  float:left;
}
div#head h1{
  margin:0px;
}

div#navBar{
  display:none;
  position:fixed;
  left:0;
  top:30px;
  background-color:#E0E0FF
}
div#navBar a{
  text-align:left;
  display:block;
}

div#bio{
  width:75%;
  margin:auto;
}
div#bio p{
  text-align:left;
  text-indent:50px;
}

img.centeredImg{
  margin-left:auto;
  margin-right:auto;
  display:block;
}
div.imgBox img{
  margin-left:auto;
  margin-right:auto;
  display:block
}

#tsubo{
  cursor:pointer;
}
