body{
  background-color:#F0F0F0;
  margin-top:29px;
  text-align: center;
}

div#head{
  top:0px;
  width:100%;
  text-align: center;
  background-color:#CDCDCD;
  position:fixed;
}
div#head h1{
  margin:0px;
}

div#bio{
  width:75%;
  margin:auto;
}
div#bio p{
  text-align:left;
  text-indent:50px;
}

img.centeredImg{
  margin-left:auto;
  margin-right:auto;
  display:block;
}
div.imgBox img{
  margin-left:auto;
  margin-right:auto;
  display:block
}
