@charset "utf-8";
/* CSS Document */

html, body {

  background-image: url('sean background.jpg');
	background-attachment:fixed;
	background-position:center top;
	background-repeat:no-repeat;
  background-color: #aa9e6e;
  font-family:arial,sans-serif;
	font-size:small;
	color:#666;
	height: 100%;
	padding: 0px; 
	margin: 0px; 
  }


div#container {

	width: 945px;
height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-image: url('images/content2_bg.png');
	background-repeat: repeat-y;
padding: 0px 0px 0px 46px;
}






.main {

padding:0px 10px 0px 10px;
width: 872px;
height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:900px; /* real browsers */
	clear: both;
}



div#header {
	margin-left: auto;
	margin-right: auto;
	width: 1023px;
	height: 200px;

}

.content {
	float:right;
	width:604px;
height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
	padding: 10px 15px 10px 15px;
	/*background:#9c9;*/
	clear: right;
}
.footer{
	align: center;
}	
.sidebar {
	float:left;
	width:205px;
	padding: 10px 5px 10px 15px;
/*	background:#99c;*/
height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
	clear: left;
}

.sidebar img {
padding: 10px 0px 10px 0px;
}
 
/* Menu Section ================================================================================================*/
#nav { /*this is the container div for the menu ----------*/
	text-align: center;
	width: 892px;
	float: left;
	clear: both;
	background-image: url('images/nav_bg.png');
	background-repeat: repeat-x;
	height: 60px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

}

#nav ul {
	float: left;
	width: 1000px;	/*this changes how much can fit in one row of the nav*/
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	list-style-type:none;
}

#nav li {
	display:inline;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

}

#nav a {
	float: left;
	padding: 20px 60px 17px 60px;/*this gives the text the same padding on each side----------*/
	margin: 0px 0px 0px 0px;
	border-right: 1px solid gray;/*this is the line that seperates each menu item----------*/
	font-weight: bold;
	text-transform: uppercase;
font-size: 13px;
text-decoration: none;
	display: inline;
	color: #CC0000;
}

#nav a:hover {
	text-decoration: underline;
}

h1 {
	color: #C00;
	background-color: #cad8e2;
	padding: 5px 0px 5px 10px;
	width: 100%;
}
#content{
	padding-left:100px;
	width: 750px;
	color: black;
	
}
#container{
	margin-left: auto;
	margin-right: auto;
}
/* End Menu Section ---------------------------------------------------------*/
