body{
background-color:#A6959B; 
}
#header{text-align:center;color:black;
}
}
#footer{text-align:center;

}
nav{text-align:center;}

#footer{text-align:center;}

#pics img {
margin-right:20PX;
}

#content {text-indent:0px;

}
#wrapper{width:850px; margin:0 auto 0 auto;

}
#content{text-align:left;

}