body{

	background-color: #04819E;

}

#title{

	font: 32px arial, sans-serif;

	float:center;

	margin: 0 auto 0 auto;

	text-align: center;

	border-style: solid;

	border-width:1;

	border-color: #38B2CE;

	background-color: #38B2CE;

}

#nav {

	background-color: #3BA3D0;

	text-align: center;

	border-style:solid;

	border-color:#3BA3D0;

}

a:link{

	text-decoration: none;

	color: black;

}

a:hover{

	background-color: #63AFD0;

	font-size: 18px;

}

.content {

	text-align: center;

}

#text {

	background-color: #38B2CE;

}

#art

{

	overflow: hidden;

	position: center;

}

#footer {
	text-align: center;
}
