body{
background: #C8E2BE;
color: #FFFFFF;
font-family: 'Open Sans', sans-serif;
}

#wrapper{
background: #5CE028;
width: 1200px;
margin: auto;
text-align: center;
padding-bottom: 10px;
padding-top: 20px;
box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.5);

}

#content{
width: 1100spx;
color:white;
background-color: #244E12;
margin-right:40px;
margin-left:40px;
padding-top:5px;
padding-left:10px;
padding-right: 10px;
padding-bottom: 25px; 
box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.5);

}

#footer{

}

a{
    text-decoration:none;
    color:white;
}