body {
	font-family: Helvetica, georgia, serif, Arial, Trebuchet MS;
	background-color: #98D5CD;
	text-align: center;
}

a:link, a:hover, a:visited, h1, h2, h3, p, td{
font-family: Helvetica, georgia, serif, Arial, Trebuchet MS;
}

p {
	font-size: 14px;
}

.content {
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border: 1px solid rgb(86,188,174);
	background-color: #DBD895;
	padding: 0px 30px 0px 30px;
}

td {
	font-size: 10px;
}

.footer {
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	background-color: #DBD895;
	left: 30em;
	font-size: 12px;
}

#wrapper {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

blue {
	color: #0A0928;
}

italic {
	font-style: italic;
	font-size: 14px;
}

#publications {
	text-align: justify;
}