body {
	background-color: #4d4d4d;
	margin: 0px;
}

#header {
	float: left;
	margin: 0px auto 0px;
	width:100%;
	text-align: center;
	background: url("logobg.png");
}

#content {
	margin: auto;
	width:775px;
	text-align: center;
}

#links {
	background-color: #ffa443;
	width: 201px;
	float: left;
	margin-left: 30px;
	margin-top: 0px;
	text-align: left;
	padding-top: 30px;
	height: 400px;
}

#footer {
	color: #ff8e29;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	margin: 0px auto 0px auto;
	width: 300px;
	margin: 0px auto 0px;
	text-align: center;
	float: left;
	padding-top: 10px;
}

#text {
	width: 540px;
	color: #ff8e29;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: justify;
	float: left;
	padding-top: 30px;
}

h1 {
	margin: 0;
}

a:visited {
	color: #ff8e29;
}

a:link {
	color: #ff8e29;
}