body{
background-color:#A6959B; 
}
#header{text-align:center;color:black;
}
}
#footer{text-align:center;

}
nav{text-align:center;}

#footer{text-align:center;}

#pics img {
margin-right:10PX;
}

#content {text-indent:0px;

}
#wrapper{width:1000px; margin:0 auto 0 auto;

}
#content{text-align:left;

}
 #dropcap{font-size:40px;color:FFAA00;height:30px;padding-top:0px;padding-right:4px;float:left;

}

#quotes{margin:0 auto;width: 750px;
}