body
{
	background-color: #6B66FA;	
}

#wrapper
{
	width: 885px;
	margin: 40px auto 40px auto;
}

#nav{
	text-align: center;
}

#header
{
		margin-left: 30px;
		margin-top:30px;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size: 55px;
		text-align: center;
}

#content
{
			margin-top: 20px;
			padding-top: 10px;
			padding-left: 30px;
			font-family:Georgia, "Times New Roman", Times, serif;
			font-size: 22px;
			
}

#footer
{
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 250px;
			font-family:Georgia, "Times New Roman", Times, serif;
			font-size: 15px;
			
}