body {
	font-family: Helvetica, arial, sans-serif;
	width: 960px;
	background: #ffffff;
	background-image: url("images/bg.png");
	background-repeat: repeat-x;
	margin: 20px auto 0px auto;
	color: #481d43;
}

#header {
	margin: 30px 0px 30px 10px;
	width: 900px;
	float: left;
}

#article {
	margin: 20px 0px 30px 10px;
	width: 930px;
	float: left;
	text-align: center;
}

#footer{
	height: 70px;
	background: #e7bde3;
	margin: 20px 0px 30px 10px;
	padding: 10px 0px 20px 30px;
	width: 900px;
	float: left;
}

#nav {
	float: right;
	text-align: right;
}

#returnimg {
	background-repeat: no-repeat;
	background-image: url("images/return.png");
	background-position: left bottom;
	height: 15px;
	padding-left: 13px;
	float: left;
}

#returnimg:hover {
	background-repeat: no-repeat;
	background-image: url("images/returnhover.png");
	background-position: left bottom;
	height: 15px;
	padding-left: 13px;
	float: left;
}

a:link, a:visited {
	text-decoration: none;
	color: #9c248c;
}

a:hover {
	color: #249c95;
}

h1 {
	margin: 0px 0px 20px 20px;
	float: left;
	font-size: 42px;
}

h3 {
	 text-align: center;
	 font-size: 32px;
}

p {
	font-size: 24px;
	text-align: center;
}

.image {
	margin-left: auto;
	margin-right: auto;
	width:250px;
}
