body
{
background-color:#929292;
margin-left:auto;
margin-right:auto;
width:95%;


}

p
{
text-indent:4em;
}

#copyright
{
position: static;
bottom: 10;
left:0;
width:100%;
text-align: center;
font-size:70%;
}

#center
{
text-align:center;
}
