.bg-primary {
	background-color: #b26702;
}

body>section {
	color: #ffeabf!important;
}

body>footer {
    color: #ffeabf!important;
}

p {
    text-align: justify;
}

hr.light {
	border-color: #ffeabf;
}

.blueimp-gallery {
	background-color: #ffa020;
}

.bg-secondary {
	background-color: #ff9507;
}

.bg-footer {
	background-color: #0071b2;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.center-all {
	text-align: center;
    position: relative;
    transform: translateY(25%);
}

/*header .header-content .header-content-inner p {
	color: rgba(255, 255, 255, 255);
}*/

header {
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url(../img/header.jpg);
}

hr {
	border-color: #fff;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.45);
        background-color: transparent;
    }

    .navbar-default .navbar-header {
        color: rgba(255,255,255,.9);
    }

/*    .navbar-brand {
    	color: rgba(125,50,64,1.0)!important;
    }*/

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,1.0);
    }

    /*.navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }*/
}

.bg-tertiary {
	background-color: #d13716;
}

.pos {
    width: 50%;
    vertical-align: top;
    padding-top: 20px;
}

footer {
    padding: 20px 0 20px 0;
}

.modal {
    color: #000;
}

a.media {
	color: #ffeabf;
}
