/*--- Avanquest WebEasy Page Style ---*/


.cc167              { /* Common */
	font            : bold 22pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc168              { /* Common */
	font            : bold 10pt 'Bedini';
	color           : #000000;
	}
.cc169              { /* Common */
	font            : italic bold 10pt 'Bedini';
	color           : #000000;
	}
.cc170              { /* Common */
	border          :   0.00pt solid #ff0000;
	}
.cc171              { /* Common */
	font            : italic bold 10pt 'Arial Narrow', Helvetica, sans-serif;
	color           : #ffffff;
	}
div#e14             { /* "PARTNERS IN POWER" */
	position        : absolute;
	left            : 258.00pt;
	top             :  10.50pt;
	width           : 258.75pt;
	height          :  25.50pt;
	}
div#e13             { /* USA */
	position        : absolute;
	left            : 363.75pt;
	top             :  36.00pt;
	width           :  45.00pt;
	height          :  15.00pt;
	}
span#e12            { /* connie_gale1037004.jpg */
	background      : transparent url(connie_gale1037004.jpg) no-repeat top left;
	position        : absolute;
	left            : 231.00pt;
	top             :  55.50pt;
	width           : 300.75pt;
	height          : 382.50pt;
	}
div#e11             {
	position        : absolute;
	left            : 251.25pt;
	top             : 496.50pt;
	width           :  60.75pt;
	height          :  54.00pt;
	}
div#e10             {
	position        : absolute;
	left            : 460.50pt;
	top             : 488.25pt;
	width           :  60.75pt;
	height          :  54.00pt;
	}
div#e9              { /* 8 x 10" signed, open edi... */
	position        : absolute;
	left            : 219.75pt;
	top             : 452.25pt;
	width           : 176.25pt;
	height          :  14.25pt;
	}
div#e8              { /* $30.00 */
	position        : absolute;
	left            : 263.25pt;
	top             : 469.50pt;
	width           :  43.50pt;
	height          :  14.25pt;
	}
div#e7              { /* 11 x 14 signed, open edi... */
	position        : absolute;
	left            : 421.50pt;
	top             : 453.75pt;
	width           : 147.00pt;
	height          :  14.25pt;
	}
div#e6              { /* $40.00 */
	position        : absolute;
	left            : 481.50pt;
	top             : 468.75pt;
	width           :  43.50pt;
	height          :  14.25pt;
	}
img#e5              { /* connie_gale1037003.jpg */
	position        : absolute;
	left            : 626.25pt;
	top             : 526.50pt;
	width           :  46.50pt;
	height          :  41.25pt;
	}
img#e4              { /* connie_gale1037002.gif */
	position        : absolute;
	left            :   6.75pt;
	top             :  16.50pt;
	width           :  93.00pt;
	height          :  16.50pt;
	}
div#e3              { /* Art by Connie Gale */
	position        : absolute;
	left            :  11.25pt;
	top             :  18.00pt;
	width           :  84.75pt;
	height          :  15.00pt;
	}
img#e2              { /* connie_gale1037001.gif */
	position        : absolute;
	left            : 704.25pt;
	top             :  17.25pt;
	width           :  33.00pt;
	height          :  15.75pt;
	}
div#e1              { /* Home */
	position        : absolute;
	left            : 706.50pt;
	top             :  18.75pt;
	width           :  35.25pt;
	height          :  15.00pt;
	}
body#page           { /* Page Body */
	background-color: #ffffff;
	background-image: url(connie_gale1037b00.jpg);
	overflow        : auto;
	}



/*--- EndOfFile ---*/
