body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #888888;
}

#wrapper{
	
}

#content{
	margin: 0 auto 0 auto;
	text-align: center;
	width: 759px;
}

#header{
	text-align: center;
}

#gallery{
	margin: 0 auto 0 auto;
}



#footer{
	text-align: center;
	font-size: 10px;
	position: relative;
	bottom:0px;
	
}

.clear{
	clear:both;
	height:0px;
}

a:link {
margin-left: 10px;
}