.links{
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}
}
.Name{
  text-align: center;
}
body{
    Background-color: #EEEEEE;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}

li {
  float: left;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: #111;
}

.Image-text{
  font-size: 16pt;
  text-align: center;
  padding-bottom: 100px;
}
.Image{
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.Footer {
  background-color: #EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
}
