body{
	background: #0C4346;
}

content {
	background-color: #FFFFFF;
	width: 80%;
	margin: 0 auto 0 auto;
	border-style: solid;
	border-color: #85DEAD;
	text-align: center;
	color: #ffffff;
	
}
h1{
	text-align: center;
	color: yellow;
}

.title{
	text-align: center;
	color: white;
}

a, a:visited{
	text-align: center;
	color: white;
	text-decoration: none;
}
