
body{
background-image:url('leather_back.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:left;
background-size:1500px 800px;
}

#header{
background-color: 55311C;
font-size: 24px;
}

#wrapper {
width: 800px;
margin: 0 auto;
}

h1 {
font-size: 64px;
color: B3370F;
font-weight: bold;
margin-top: 0px;
margin-bottom: 0px;
text-align: center;

}

h2 {
font-size: 20px;
color: #3333FF;
font-weight: bold;
margin-top: 0px;
margin-bottom: 3px;
font-size: 24px;

}

#navigation{
	text-align: center;
	font-size: 48px;
	background-color: 55311C;
}

#content{
color: B3640F;
width: 400 px;
margin: right auto;
margin: left auto;
text-align: center;
font-size: 20px;
}

p{
background-color: 55311C;
text-align:center;
padding: 20px;
color: white;
}

#footer{
background-color: 55311C;
font-size: 16px;
}

a{

color:B3640F;
font-size: 24px;
padding: 5px;
text-align:center;

}

a:hover {color: #B3370F;}
