body {
	font-family: Rockwell, Arial, sans-serif;
	background-image:url('background.png');
	background-repeat:repeat-x;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

header, article, footer {
	margin: 10px;
	padding: 10px 20px 10px;	
	border-radius: 8px;
	-webkit-border-radius:.2em;
	-moz-border-radius:.2em;
	background: #218359;
}

header {
	display: block;
	width: 898px;
	text-align: center;
}

article {
	display: block;
	width: 898px;
	text-align: center;
	list-style-type:none;
	text-decoration: none;
}

footer {
	display: block;
	width: 898px;
	text-align: center;
}

a:hover {
	color: #000000
}
